<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head.ejs') %> 

<body>
    <main class="wrapper main">
        <div id="welcome-div">
            <h1>Bem Vindo!</h1>
            <p>Novo no site? Registre-se aqui</p>
            <a href="sign-up.html">
                <button class="btns sign">Registre-se</button>
            </a>
        </div>

        <form class="forms login">
            <h1>Login</h1>
            <label for="email">Email</label>
            <input type="text" name="email" id="login-email" placeholder="fulano123@gmail.com" class="inputs-form">
            <br>
            <label for="pass">Senha</label>
            <input type="text" name="pass" id="login-pass" placeholder="Entre sua senha" class="inputs-form">

            <p id="forgot-pass">Esqueceu sua senha?</p>
            <button class="btns forms" id="login-button">Entrar</button>
        </form>
    </main>

    <script src="js/index.js"></script>
</body>
</html>