<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="wrapper main">
        <div id="welcome-div">
            <h1>Bem Vindo!</h1>
            <p>Novo no site? Registre-se aqui</p>
            <a href="sign-up.html">
                <button class="btns sign">Registre-se</button>
            </a>
        </div>

        <form class="forms login">
            <h1>Login</h1>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="fulano123@gmail.com" class="inputs-form">
            <br>
            <label for="pass">Senha</label>
            <input type="text" name="pass" id="pass" placeholder="Entre sua senha" class="inputs-form">

            <p id="forgot-pass">Esqueceu sua senha?</p>
            <button class="btns forms" id="login-button">Entrar</button>
        </form>
    </main>

    <script>
        document.getElementById("login-button").onclick = function(){
            location.href = "main.html"
            event.preventDefault() //Essa função funciona para prevenir que a página seja recarregada ao invés de seguir o href
        }
    </script>
</body>
</html>