<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre-se</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="wrapper sign-up">
        <form class="forms sign-up">
            <h1>Registre-se</h1>

            <label for="name">Nome</label>
            <input type="text" name="name" id="sign-name" placeholder="Fulano de Tal" class="inputs-form">
            <br>
            <label for="email">Email</label>
            <input type="text" name="email" id="sign-email" placeholder="fulano123@gmail.com" class="inputs-form">
            <br>
            <label for="pass">Senha</label>
            <input type="password" name="pass" id="sign-pass" class="inputs-form">
            <br>
            <label for="pass2">Confirme sua senha</label>
            <input type="password" name="pass2" id="sign-pass2" class="inputs-form">
            <br>
            <button class="btns forms" id="sign-button">Confirmar</button>
        </form>

    </main>

    <script>
        document.getElementById("sign-button").onclick = function(){
            location.href = "index.html"
            event.preventDefault() 
        }
    </script>
</body>
</html>