html, body{
    padding: 0;
    background-color: rgb(212, 57, 45);
    font-family: sans-serif;
    font-size: 14pt;
}

textarea:focus, input:focus{
    outline: none;
}

h1, h2{
    margin: 0;
}

main.wrapper.main{
    width: 70%;
    margin: auto;
    margin-top: 8%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 3pt;
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

form.forms.login{
    padding: 10% 2%;
    display: grid;
    row-gap: 8px;
}

form.forms.login h1{
    text-align: center;
}

form.forms.login label{
    margin-left: 5%;
}

input.inputs-forms{
    margin: auto;
    padding: 1%;
    font-size: 0.7rem;
    height: 75%;
    width: 70%;
    border-color: transparent transparent rgb(212, 57, 45) transparent;
    border-radius: 2pt;
}

button.btns{
    margin: auto;
    padding: 1%;
    border: solid 1px rgb(212, 57, 45);
    border-radius: 3pt;
}

button.btns.forms{
    margin-top: 3%;
    height: 100%;
    width: 30%;
    font-size: 0.8rem;
    color: rgb(182, 56, 47);
    background-color: white;
}

button.btns.forms:hover{
    cursor: pointer;
    transition: 0.2s;
    color: white;
    background-color: rgb(182, 56, 47);
}

form p#forgot-pass{
    margin-right: 4%;
    font-size: 0.7rem;
    text-align: right;
    color: rgb(56, 56, 56);
}

form p#forgot-pass:hover{
    cursor: pointer;
    color: rgb(182, 56, 47);
    text-decoration: underline;
}



/* Parte da DIV de boas vindas */
div#welcome-div{
    text-align: center;
    padding: 40% 2%;
    color: white;    
    background-color: rgb(212, 57, 45);
}

button.btns.sign{
    color: white;
    height: 8vh;
    width: 15vw;
    font-size: 0.8rem;
    border-color: rgba(255, 255, 255, 0.507);
    background-color: rgb(212, 57, 45);
}

button.btns.sign:hover{
    cursor: pointer;
    transition: 0.2s;
    border-color: rgb(182, 56, 47);
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.2);
    color: rgb(182, 56, 47);
    background-color: rgb(255, 255, 255);
}


/* Página de Cadastro */
main.wrapper.sign-up{
    padding: 1%;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    border-radius: 2pt;
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

form.forms.sign-up h1{
    text-align: center;
    margin-bottom: 7vh;
}

form.forms.sign-up label{
    margin: auto;
    margin-left: 16%;
    font-size: 0.9rem;
    color: rgb(87, 87, 87);
}

input.inputs-form{
    display: block;
    margin: auto;
    height: 75%;
    width: 40vw;
    padding: 1%;
    font-size: 0.7rem;
    border-color: transparent transparent rgb(212, 57, 45) transparent;
    border-radius: 2pt;
}

form.forms.sign-up button{
    margin-left: 35%;
}

@keyframes shake {
    25% { transform: translateX(4px); }
    50% { transform: translateX(-4px); }
    75% { transform: translateX(4px); }
}